.row.content {
  height: 100%;
  width: 100%;
  position: fixed;

}

.sidenav {
  background-color: #1A1919;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .row.content {height: auto;}
}

.pre-scrollable {
  height: 100% !important;
}

.logo {
  color: #A2A2A2;
}

.upload-form {
  width: 450px;
}

.video-upload {
  margin-top: 20px;
}

.description {
  text-indent: 40px;
}

.emoji-box {
  height: 400px;
}

.emoji {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 64px;
  height: 64px;
  top: 50%;
  transform: translateY(-50%);
}

.data-view {
  max-height: 1080px !important;
  height: 1080px;
}
